/*video.css

#awesome_video { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }*/

.banner { 
	position: relative;
	overflow: auto;
}
.banner li { 
	list-style: none;
	margin: 0 auto;

	 }
.banner ul li {
    float: left; 
     }
.center {
	margin: 0 auto;
}